<div style="margin: 30px">
    <h3> Llistat i informes</h3>

    <div class="ui-widget-header">
        <input type="text" pInputText size="50" placeholder="Cerca per criteri1, criteri2" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        <i class="fa fa-search"></i>
    </div>
    <br>
    <hr>
    <br>
    <div>
        <div class="ui-g-3">
            Mostra
            <p-dropdown [options]="numeros" [(ngModel)]="numero.value"></p-dropdown>
            resultats per pàgina
        </div>
        <div class="ui-g-9" class="pull-right">
            <button pButton type="button" label="Nou llistat" icon="pi pi-plus-circle" class="ui-button-secondary"></button>
            <button pButton type="button" label="Filtres" icon="pi pi-filter" class="ui-button-primary"></button>
        </div>
    </div>

    <br><br>

    <p-table #dt [columns]="cols" [value]="tareas" [(selection)]="selectedTareas" [responsive]="true" [paginator]="true" [rows]="numero.value">
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col [style.width]=5>
                <col *ngFor="let col of columns" [style.width]="col.width">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 3em">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon *ngIf="col.sort" [field]="col.field"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td style="border:0px">
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <td style="border:0px" *ngFor="let col of columns">
                    {{rowData[col.field]}}
                    <div *ngIf="col.header === 'Accions'">
                        <button pButton type="button" label="Exportar" class="ui-button-secondary"></button>
                        <button *ngIf="rowData.tipus === 'Llistat'" pButton type="button" label="Veure" class="ui-button-secondary"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>