<div style="margin: 10px 0px 10px 0px">
    <span class="ctitol">Quins són els detalls del trasllat i la logística?</span>
    <br style="line-height: 30px">
    <cpr-switch-combo titol="Necessitàries ajuda per empaquetar?" [switchVisible]="true" checked="false"></cpr-switch-combo>
    <cpr-switch-combo titol="Necessitàries ajuda per desmontar els mobles?" [switchVisible]="true" checked="false"></cpr-switch-combo>
    <cpr-switch-combo titol="com són les escales de l'edifici?" [switchVisible]="false" [listRadioButton]="['Petites','Mitjanes','Amples']"></cpr-switch-combo>
    <cpr-switch-combo titol="L'edifici té ascensor" [switchVisible]="true" checked="true" [listRadioButton]="['Petit','Mitjà','Gran']"></cpr-switch-combo>
</div>