<div style="margin: 10px 80px 10px 80px ">
    <h3>Sol·licitud i autorització de guardamobles i trasllat</h3>
    <h4>Paco Paquito Paquito</h4>
    <cpr-steps></cpr-steps>
    <cpr-titol-subtitol titol="Quin és el mobiliari i el nombre de caixes a traslladar?" subTitol="Introdueix els bens que es vagin a traslladar. Sense oblidar electronics"></cpr-titol-subtitol>
    <div class="p-grid">
        <div class="p-col-8">
            <!-- Part esquerra -->
            <div class="p-grid">
                <cpr-bens class="p-col-12"></cpr-bens>
                <cpr-trasllat class="p-col-12"></cpr-trasllat>
                <cpr-detall class="p-col-12" titol="Observacions"></cpr-detall>
            </div>
        </div>
        <div class="p-col-4">
            <!-- Part dreta -->
            <cpr-list-steps titol=" Com crear l 'inventari" [steps]="[
            'Escriu el nom en el quadrat de text. Podràs afegir tots els que necessitis ',
            'Canvia la quantitat utilitzant els botons de major i menor ',
            'En cas de voler eliminar-ho, clica sobre la icona eliminar ',
            'Podràs afegir el titols, En cas de voler eliminar-ho, clica sobre la icona eliminar ',
            'Adsf dsfg sdf Podràs afegir el titols, En cas de voler eliminar-ho, clica sobre la icona eliminar ']"></cpr-list-steps>
            <br>
            <cpr-post-it titol="Sobre la quantita de bens" text="PrimeNG components internally use PrimeIcons library,internally use PrimeIcons library, the official icons suite from PrimeTek."></cpr-post-it>
            <br>
            <cpr-post-it titol="Sobre el valor dels béns a traslladar" text="imeNG components internally useicons suite from PrimeTek."></cpr-post-it>
            <br>
            <cpr-post-it titol="Sobre elements fràgils" text="components internally use Ps suite from PrimeTek."></cpr-post-it>
            <br>
            <cpr-post-it titol="Sobre l'empaquetament, muntage i d 'esmuntatge de béns" text="NG components internally use Pri library, the official icons suite from PrimeTek."></cpr-post-it>
        </div>

    </div>
</div>